@charset "ISO-8859-1";
body{
	background-color: #dde9ff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: 800px;
}

#header1{
	text-align: center;
	font-size: 40px;
}

#header2{
	font-size: 20px;
}

.btn{
	width: 300px;
	background-color: #ffbb00;
	border: none;
	padding: 30px 40px;
	border-radius: 8px;
	transition-duration: 0.5s;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
}

.btn:hover{
	background-color: #ffd76c;
}

#btn1{
	position: absolute; top: 175px; left: 622px;
}

#btn2{
	position: absolute; top: 315px; left: 622px
}

#btn3{
	position: absolute; top: 455px; left: 622px;
}

#btn4{
	position: absolute; top: 590px; left: 622px;
}
