@charset "ISO-8859-1";
body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #fbcb71;
	height: 800px;
}

h2{
	font-size: 45px;
	text-align: center;
	text-decoration: underline;
}

table{
	line-height: 40px;
	position: absolute; left: 650px;
}


#btn{
	font-size: 15px;
	background-color: #FF7D00;
	border: none;
	border-radius: 8px;
	padding: 15px 30px;
	transition: 0.5s;
	position: absolute; top: 750px; left: 670px; 
}

#btn:hover{
	background-color: #ffb66c;
}